@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:#3c2a2c;
}

/* Text */
h1, h2, h3 {
    font-family: 'Babylonica', 'Montserrat', sans-serif;
}

h1 {
    font-size: 8rem;
}
h2 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
}

/* Nav */
nav {
    overflow: hidden;
    background-color: #c8e4d3;
    position: sticky;
    top: 0;
}

nav #myLinks {
    display: none;
}

nav a {
    color: #3c2a2c;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 24px;
}

nav a.icon {
    background-color: #c8e4d3;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 64px;
    padding: 12px 24px;
}

nav a:hover {
    background-color: #9aceaf;
}

.active {
    font-size: 64px;
    font-family: "Babylonica", "Montserat", sans-serif;
    padding: 8px 24px;
}
  



/* Header */
header {
    background-image: url("./img/banner.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #555;
    height: 97vh;
    width: 100%;
}

.header {
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
}

header h1 {
    padding-bottom: 24px;
}

/* Social Media */

.social-media {
    width: 100%;
    background-color: #3c2a2c;
}

.social-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.social-icons {
    background: -webkit-linear-gradient(135deg,#ffdf00, #996515);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    padding: 24px;
    cursor: pointer;
}

.social-icons:hover {
    background: -webkit-linear-gradient(#f2d392, #f2d392);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Main */
main {
    background-color: #c8e4d3;
    width: 100%;
}

.main-wrapper {
    padding: 24px;
    max-width: 1400px;
    margin: 0 auto
}

.main-wrapper h2 {
    text-align: center;
}

.main-wrapper p {
    font-size: 24px;
    line-height: 2.5rem;
}

#ziska {
    max-width: 600px;
    display: block;
    margin: 32px auto;
    border-radius: 50%;
    border:8px #3c2a2c solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* Gallery */
.gallery {
    background-color: #c8e4d3;
    padding-bottom: 24px;
}

.gallery h2 {
    text-align: center;
    padding: 24px 0 8px 0;
}

.gallery-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-img {
    margin: 16px;
    width: 400px;
    height: 400px;
    border-radius: 28px;
    background-color: #555;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.visit {
    display: block;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    width: 280px;
    margin: 8px auto 0 auto;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    background-color: #f5c5a3;
    cursor: pointer;
    border-radius: 28px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.visit:hover {
    background-color: #f0a875;
}


/* Footer */
footer {
    background-color: #3c2a2c;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-align: center;
    padding-bottom: 24px;
    display: block;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 300;
}



/* Gallery Page */
.last {
    padding-bottom: 32px;
}

main h1, main h2 {
    text-align: center;
}

main h1 {
    padding: 24px;
}

hr {
    height: 1px;
    margin-bottom: 8px;
    margin: 0 auto;
    border: 0.5px solid #3c2a2c;
    max-width: 1400px;
}