@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Text */
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

/* Wrapper */
.wrapper {
    width: 100%;
}


/* Nav */
nav {
    overflow: hidden;
    background-color: #111;
    position: relative;
}

nav #myLinks {
    display: none;
}

nav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
    font-size: 24px;
}

nav a.icon {
    background-color: #111;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
}

nav a:hover {
    background-color: #555;
}

.active {
    font-size: 32px;
}
  



/* Header */
header {
    background-image: url("./img/banner.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #555;
    height: 80vh;
    width: 100%;
}

.header {
    padding: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(10, 10, 10, 0.5);
    color: #fff;
}

header h1 {
    padding-bottom: 24px;
}

/* Social Media */

.social-media {
    width: 100%;
    background-color: #111;
}

.social-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.social-icons {
    color: white;
    font-size: 64px;
    padding: 24px;
    cursor: pointer;
}

.social-icons:hover {
    color: #ccc;
}

/* Main */
main {
    background-color: #eee;
    width: 100%;
}

.main-wrapper {
    padding: 24px;
    max-width: 1400px;
    margin: 0 auto
}

.main-wrapper h2 {
    text-align: center;
}

.main-wrapper p {
    font-size: 24px;
    line-height: 2.5rem;
}

#ziska {
    display: block;
    margin: 24px auto;
    border-radius: 50%;
}


/* Gallery */
.gallery {
    background-color: #e18db2;
    padding-bottom: 24px;
}

.gallery h2 {
    text-align: center;
    padding: 24px 0 8px 0;
}

.gallery-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-img {
    margin: 16px;
    width: 400px;
    height: 400px;
    background-color: #555;
}

.visit {
    display: block;
    padding: 16px 64px;
    margin: 8px auto 0 auto;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    background-color: #9b295c;
    color: white;
    cursor: pointer;
}

.visit:hover {
    background-color: #d66597;
}


/* Footer */
footer {
    background-color: #111;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-align: center;
    padding-bottom: 24px;
    display: block;
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 300;
}